.container {
	margin: 50px auto;
	padding: 20px;
	width: 350px;
	background-color: #ffdf8c;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	// text-align: center;
}

.formGroup {
	// display: flex;
	// flex-direction: column;
	margin-bottom: 20px;
	position: relative;
}

.label {
	position: absolute;
	left: 15px;
	top: -15px;
	color: #232323;
	font-weight: bold;
	font-size: 12px;
	transition: top 0.3s, font-size 0.3s, color 0.3s;
}

.inputContainer {
	position: relative;
}

.inputIcon {
	position: absolute;
	left: 10px;
	top: 50%;
	transform: translateY(-50%);
	color: #232323;
}

.formControl {
	width: calc(100% - 20px);
	padding: 20px 10px 10px 40px;
	border-radius: 5px;
	border: 1px solid white;
	outline: none;
	transition: border-color 0.3s;
}

.formControl:focus {
	border-color: #fe5f1e;
}

.formControl.valid {
	border-color: #4caf50;
}

.error_text {
	display: block;
	color: #fff;
	background-color: #f44336;
	padding: 5px 10px;
	border-radius: 5px;
	font-size: 12px;
	margin-top: 5px;
	animation: shake 0.3s ease-in-out;
}

@keyframes shake {
	0% {
		transform: translateX(-5px);
	}
	50% {
		transform: translateX(5px);
	}
	100% {
		transform: translateX(-5px);
	}
}

.formControl.error {
	border-color: #f44336;
	// padding-top: 20px; /* Отступы только у текста с ошибкой */
}

.btnPrimary {
	display: block;
	width: 100%;
	padding: 10px;
	border: none;
	border-radius: 5px;
	background-color: #fe5f1e;
	color: #fff;
	font-weight: bold;
	cursor: pointer;
	transition: background-color 0.3s;
}

.btnPrimary:hover {
	background-color: #ff6347;
}

.checkboxContainer {
	display: flex;
	align-items: center;
	margin-top: 20px;
}

.checkbox {
	margin-right: 10px;
}

.agreeLabel {
	font-size: 12px;
}

.registerLink {
	text-align: center;
	color: #232323;
	font-size: 14px;
	margin-top: 15px;
}

.registerLink a {
	color: #fe5f1e;
	text-decoration: none;
}

.registerLink a:hover {
	text-decoration: underline;
}
